#content{
    background:gray;
}
body{
    margin:0;
}
#banner{
    margin:0 auto;
    display:block;
    width:100%;
}
.threepics{
    text-align:center;
}
.pic{
    width:20%;
    margin:5%;
    border-radius:80%;
    border:1vw solid black;
}
